#la-title-row
	margin-top 15px
	margin-bottom 30px

	.la-title
		display inline
	
	.la-subtitle
		display inline
		margin-left 10px

// #la-navigation	

#tableArticles

	border 1px solid #e7e7e7
	margin-bottom 50px
	
	.hiddenRow hover 
		background-color #000
	
	> thead 
		> tr 
			> th 
				border-bottom 0px
				// padding-top 20px
				// padding-bottom 20px
				
				a
					color #A5A5A5

			> th:last-child
				border-right  1px solid #e7e7e7		

	tbody 
		> tr 
			cursor pointer
			> td:last-child
				border-right 1px solid #ddd
			
			.articleVoteLink
				.glyphicon-star
					font-size 22px
					vertical-align middle
					margin-top -9px
					margin-left 4px
			
			.vote-star
				color #CACA00
				
			.novote-star
				color #7B7B7B

#entriesNumText
	text-align center
	margin-bottom 5px
	
#btnLoadMoreResults
	width 140px

	