#la-title-row
	margin-top 15px
	margin-bottom 30px

	.la-title
		display inline
	
	.la-subtitle
		display inline
		margin-left 10px


#la-rss-link
	float right
	
	img
		width 20px
	

#tableArticles

	border 1px solid #e7e7e7
	margin-bottom 50px
	
	> thead 
		> tr 
			> th 
				border-bottom 0px
				// padding-top 20px
				// padding-bottom 20px
				
				a
					color #A5A5A5

			> th:last-child
				border-right  1px solid #e7e7e7		

	tbody 
		> tr 
			cursor pointer
			> td:last-child
				border-right 1px solid #ddd
			
			.articleVoteLink
				.glyphicon-star
					font-size 22px
					vertical-align middle
					margin-top -9px
					margin-left 4px
			
			.vote-star
				color #CACA00
				
			.novote-star
				color #7B7B7B
				
	.articleRowBody
		
		.la-report-link
			color #987849
			cursor pointer
				
	.articleRowBody:hover
		cursor default
		background-color #fff

#entriesNumText
	text-align center
	margin-bottom 5px
	
#btnLoadMoreResults
	width 140px

	