
// Vars
SB_WIDTH = 250px



// imports
@import "sidebar.import.styl"
@import "page-content.import.styl"
@import "table-articles.import.styl"
@import "navbar.import.styl"

body
	font-family: Arial !important;

#wrapper
	padding-left 0
	-webkit-transition all 0.5s ease
	-moz-transition all 0.5s ease
	-o-transition all 0.5s ease
	transition all 0.5s ease

	.toggled 
		padding-left SB_WIDTH
		
		#sidebar-wrapper 
			width SB_WIDTH
		
		#page-content-wrapper 
			position absolute
			margin-right SB_WIDTH * -1


#page-content-wrapper 
	width 100%
	position absolute
	padding 15px
	margin-top 50px


@media(min-width 768px) 
	#wrapper 
		padding-left SB_WIDTH
		
		.toggled 
			padding-left 0
			
			#sidebar-wrapper 
				width 0
				
			#page-content-wrapper 
				position relative
				margin-right 0
	
	#sidebar-wrapper
		width SB_WIDTH
		
	#page-content-wrapper
		padding 20px
		position relative
		
	
