
// Vars
SB_WIDTH = 250px
$tooltip-color = #88704D
$tooltip-text-color = #fff

// imports
@import "sidebar.import.styl"
@import "listArticles.import.styl"
@import "navbar.import.styl"
@import "newArticle.import.styl"

body
	font-family: Arial !important;


#wrapper
	padding-left 0
	-webkit-transition all 0.5s ease
	-moz-transition all 0.5s ease
	-o-transition all 0.5s ease
	transition all 0.5s ease

	.toggled 
		padding-left SB_WIDTH
		
		#sidebar-wrapper 
			width SB_WIDTH
		
		#page-content-wrapper 
			position absolute
			margin-right SB_WIDTH * -1


#page-content-wrapper 
	width 100%
	position absolute
	padding 15px
	margin-top 50px
	height 500px // TODO set size using js
	
	.page-container
		min-height 100%
		height auto !important


@media(min-width 768px) 
	#wrapper 
		padding-left SB_WIDTH
		
		.toggled 
			padding-left 0
			
			#sidebar-wrapper 
				width 0
				
			#page-content-wrapper 
				position relative
				margin-right 0
	
	#sidebar-wrapper
		width SB_WIDTH
		
	#page-content-wrapper
		padding 20px
		position relative
		

.icon-tooltip
	display inline
	
	> span
		color #3594D7
	
	+.tooltip
	
		> .tooltip-inner
			max-width: 350px
			background-color $tooltip-color
			color $tooltip-text-color
			text-align left
			
		&.right > .tooltip-arrow
			border-right-color $tooltip-color
	
		&.left > .tooltip-arrow
			border-left-color $tooltip-color

		&.bottom > .tooltip-arrow
			border-bottom-color $tooltip-color
			
		&.top > .tooltip-arow
			border-top-color $tooltip-color
			
		&.top > .tooltip-arrow
			border-top-color $tooltip-color
