.navbar
	
	-webkit-box-shadow none !important
	
	.navbar-brand
		text-align center
		width $sidebar-width
		
	#navbar-left-items
		margin-left 0px
		padding-left 0px
		
	#navbar-right-items
		margin-right 0px
		
	#btn-newArticle
		> span
			margin-right 5px
			
	#nav-dropdown-more
		margin-right 10px