.navbar
	.navbar-brand
		text-align center
		width SB_WIDTH
		
	#navbar-left-items
		margin-left 20px
		padding-left 10px
		
	#navbar-right-items
		margin-right 0px
		
	#btn-newArticle
		> span
			margin-right 5px