#editPanel
	


	#na-editPanel
		#naf-articleContent
			margin 0px 0px 0px 0px
			padding 10px 10px
			border 1px solid #ddd
			border-top 0px
			-webkit-box-shadow none
			-moz-box-shadow none
			box-shadow none
			border-top-left-radius: 0px
			border-top-right-radius: 0px
		
	#na-previewPanel
		margin 0px 0px 15px 0px
		padding 10px 10px
		border 1px solid #ddd
		border-top 0px
		overflow-y auto