// spacing
SB_PADDING = 20px // reference padding value for sidebar
SB_SUBGROUP_PADDING_L = SB_PADDING
SB_GROUP_SPACEY = 40px
SB_SUBGROUP_SPACEY = SB_GROUP_SPACEY - 10px

// color
SB_COLOR = #f8f8f8
SB_GROUP_COLOR = SB_COLOR
SB_GROUP_HOVER_COLOR = SB_GROUP_COLOR - 5%
SB_SUBGROUP_COLOR = rgba(0,0,0,0)
SB_GROUP_BORDER = 1px solid SB_GROUP_COLOR - 10%

$sb-badge-color = #7B7B7B

#sidebar-wrapper 
	z-index 1000
	position fixed
	left $sidebar-width
	height 100%
	width 0
	margin-top 50px
	margin-left $sidebar-width * -1
	overflow-y auto
	background SB_COLOR
	-webkit-transition all 0.5s ease
	-moz-transition all 0.5s ease
	-o-transition all 0.5s ease
	transition all 0.5s ease
	
	.sb-link-wrapper
		padding-top 20px
		padding-bottom 5px
		padding-left 10px
		line-height 1.7
		
		#sb-a-all-tags
			pointer-events none
			cursor default
			color #c0c0c0
	
	.sidebar-headline
		padding-left SB_PADDING

	.sidebar-groups 
		position relative
		width $sidebar-width
		margin 0
		padding 0
		list-style none
		border-bottom: SB_GROUP_BORDER
		
	
		> li
			border-top: SB_GROUP_BORDER
			line-height SB_GROUP_SPACEY
			background-color SB_GROUP_COLOR
			
			:hover
				background-color SB_GROUP_HOVER_COLOR
			
			> div
				display block
				padding-left SB_PADDING
				cursor pointer
				
				> a 
					//text-decoration none
					//color #999999
				
				.badge
					margin-right (SB_GROUP_SPACEY / 2)px
					margin-top ((SB_GROUP_SPACEY - 18) * .5)px
					background-color $sb-badge-color
					
				img
					width SB_GROUP_SPACEY - 10px
					height SB_GROUP_SPACEY - 10px
					margin-left -10px
					margin-right 10px

					
		.sidebar-subgroup
			list-style-type none
			padding-left 0px
			background-color SB_SUBGROUP_COLOR
		
			> li
				padding-left  SB_SUBGROUP_PADDING_L
				line-height  SB_SUBGROUP_SPACEY
			
				> a 
					text-decoration none
			
			.badge
				color inherit
				background-color rgba(0,0,0,0)
				margin-right (SB_GROUP_SPACEY / 2)px
				margin-top ((SB_SUBGROUP_SPACEY - 18) * .5)px
	