#tableArticles

	tbody > tr 
		cursor pointer

	border 1px solid #e7e7e7


	> thead > tr > th 
		border-bottom 0px


	> thead > tr > th last-child 
		border-right 1px solid #e7e7e7


	> tbody > tr > td last-child 
		border-right  1px solid #e7e7e7
		
	.hiddenRow hover 
		background-color #000