#tableArticles

	border 1px solid #e7e7e7
	
	.hiddenRow hover 
		background-color #000
	
	> thead 
		> tr 
			> th 
				border-bottom 0px
			> th last-child
				border-right 1px solid #e7e7e7
			> td last-child
				border-right  1px solid #e7e7e7		

	tbody 
		> tr 
			cursor pointer
	