
.va-article-frame
	width 100%
	height calc(100vh - 70px)
	
#va-info
	margin-bottom 10px

.va-buttons-bar
	// display inline
	height 30px
	width 100%
	margin-top -5px
	border-bottom 1px solid #ccc
	
	button
		border-bottom-right-radius 0px 
		border-bottom-left-radius 0px
	
	.va-user-buttons
		position absolute
		
	.va-resize-button
		position absolute
		left calc(50% - 35px)
		
		#va-btn-toggle-info
			width 70px
			border-radius 10px
			border-bottom-right-radius 0px 
			border-bottom-left-radius 0px
	

	