<template name="listArticles">

	<div class="row">
		<div class="col-lg-12 ">
			{{#if rssLink}}
				<a id="la-rss-link" href="{{rssLink}}" target="_blank" data-toggle="tooltip" data-placement="left" title="Current list RSS feeds">
					<img src="/img/icon-rss-32x32.png" class="img-responsive" alt="Image">
				</a>
			{{/if}}
			<div id="la-title-row">
				<h1 class="la-title">Haxe Resource</h1> <h3 class="la-subtitle"><small>Haxe tutorials and articles.</small></h3>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-12">
			<table id="tableArticles" class="table table-hover" style="border-collapse:collapse">
				<caption>

				<div>
					{{{captionMsg}}} <small>( {{currentCount}} / {{totalCount}} results )</small>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<form id="la-search-form" role="search">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search" name="q">
								<div class="input-group-btn">
									<button class="btn form-control" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>

				</caption>
				<thead>
				<tr>
					<th class="text-center" style="width:10px"></th> 
					<th class="" style="">
						<a id="btnSortByTitle" href="#">TITLE 
							{{#if sortTitleUp}}
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
							{{/if}}
							{{#if sortTitleDown}}
							<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							{{/if}}
						</a>
					</th>
					<th class="text-right" style="width:90px">
						<a id="btnSortByVotes" href="#">STARS 
							{{#if sortVotesUp}}
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
							{{/if}}
							{{#if sortVotesDown}}
							<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							{{/if}}
						</a>
					</th>
					<th class="text-center" style="width:120px">
						<a id="btnSortByAge" href="#">AGE
							{{#if sortAgeUp}}
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
							{{/if}}
							{{#if sortAgeDown}}
							<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							{{/if}}
						</a>
					</th>
				</tr>
				</thead>
				<tbody id="dataParent">
					{{#each articles}}
					{{> articleRow}}
					{{/each}}
				</tbody>
			</table>
			<div>
				<p id="entriesNumText"><small>Showing {{currentCount}} of {{totalCount}} results</small></p>
				<div class="text-center">
					<button id="btnLoadMoreResults" type="button" class="btn btn-primary {{#if allEntriesLoaded}}disabled{{/if}}">Load more</button>
				</div>
			</div>
		</div>
	</div>
</template>
	
<template name="articleRow">
	<tr class="articleRowHeader" style="border-top:0px;display:none">
		<td class="articleRowToggle" data-target="#articleRow{{_id}}" data-toggle="collapse" tabindex="0"></td>
		<td class="articleRowToggle" data-target="#articleRow{{_id}}" data-toggle="collapse"><strong>{{title}}</strong></td>
		<td class="text-right">
			{{votes}} 
			<a class="articleVoteLink" href="#" data-article="{{_id}}">
				<span class="glyphicon glyphicon-star {{#if hasUserVote _id}}vote-star{{else}}novote-star{{/if}}" aria-hidden="true">
				</span>
			</a>
		</td>
		<td class="articleRowToggle text-center" data-target="#articleRow{{_id}}" data-toggle="collapse" >{{formatDate created}}</td>
	</tr>
	<tr class="">
		<td colspan="6" class="hiddenRow" style="padding:0;border-top:0px;border-bottom:1px solid #ddd">
			<div  id="articleRow{{_id}}" class="articleRowBody collapse">

				<div style="padding:10px 20px">
					<!-- Right Column -->
					<div style="width:150px;float:right">
						{{#if canEditArticle this}}
							<button id="la-btn-edit-article" class="btn btn-success" data-article="{{_id}}" data-title="{{title}}" style="display:inline">
								Edit
							</button>
						{{/if}}
						
						{{#if canRemoveArticle this}}
							<button id="la-btn-remove-article" type="button" class="btn btn-danger" data-article="{{_id}}" style="display:inline">
								Remove
							</button>
						{{/if}}
						
						{{#if currentUser}}
						<div class="pull-right" style="display:inline">
							<span data-article="{{_id}}" class="glyphicon glyphicon-exclamation-sign la-report-link" aria-hidden="true"></span>
						</div>
						{{/if}}
						
						{{#if canTransferArticle this}}
							<button id="la-btn-transfer-article" type="button" class="btn btn-primary" data-article="{{_id}}" style="margin-top:5px">
								Change Owner
							</button>
						{{/if}}

						
					</div>
					<!--  -->

					<!-- Left Column -->
					<div style="margin-right:165px">
						<p id="la-preview-description">
							{{description}}
						</p>

						<div id="la-preview-author" style="padding-top:20px">
							{{#if content}}
							Author:
							{{else}}
							Posted by:
							{{/if}}
							 <a href="#">{{username}}</a>
						</div>
						
						<div>
							{{#if link}}
							<div id="la-preview-article-link" style="">
								Link: <a href="{{link}}" target="_blank">{{link}}</a>
							</div>
							{{/if}}
							
							<div id="la-preview-read-article" style="padding-top:10px;">
								<button id="la-btn-view-article" class="btn btn-info" data-article="{{_id}}" data-title="{{title}}" style="display:inline">
									View here
								</button>
							</div>

							{{#if tags}}
							<div id="la-preview-tags" style="padding-top:5px">
								<small>
									Tags: 
									{{#each tags}}
									<a href="/articles/tag/{{this}}">{{this}} </a> 
									{{/each}}
								</small>
							</div>
							{{/if}}

						</div>
					</div>
					 <!--  -->
				</div> 
				

			</div><!-- End article row --> 
		</td>
	</tr>
</template>