<template name="newArticle">
	<ul class="nav nav-tabs">
			<li class="active"><a href="#editPanel" data-toggle="tab">Edit</a></li>
			<li class=""><a id="btnPreviewArticle" href="#previewPanel" data-toggle="tab">Preview</a></li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane fade active in" id="editPanel">
				{{#autoForm id="newArticleForm" schema=schema}}
					<fieldset>
					<!--legend>New Article</legend-->
					{{> afQuickField name='title' id='naf-articleTitle'}}
					{{> afQuickField name='description' rows=2}}
					{{> afQuickField name='link'}}
					{{> afQuickField name='content' id='naf-articleContent' rows=20}}
					{{> afQuickField name='category' options=categories }}
					{{> afQuickField name='tags'}}
					</fieldset>
					<button type="submit" class="btn btn-primary">Submit</button>
				{{/autoForm}}
		</div>
	
		<div class="tab-pane fade" id="previewPanel">
			<h1 id="previewTitle"></h1>
			<hr>
			<div id="previewContent"></div>
		</div>
	</div>
</template>