<template name="sidebar">
	<div id="sidebar-wrapper">
		<div class="sb-link-wrapper">
			<div><a id="sb-a-all-articles" href="/">All articles</a></div>
			<div><a id="sb-a-all-tags" href="/">All tags</a></div>
		</div>	
		<h4 class="sidebar-headline">Groups</h4>
		<ul class="sidebar-groups">
			{{#each tagGroups}}
				{{> tagGroup}}
			{{/each}}
			<li class="nav-tag-group" id="sb-ungrouped">
				<div class="group-toggler">
					<a href="/articles/tag/group/ungrouped">
						Ungrouped
						<span class="badge pull-right">{{countUngrouped}}</span>
					</a>
				</div>
			</li>
		</ul>
		
	</div>
</template>
	
<template name="tagGroup">
	<!-- collapse triggering is made via code -->
	<li class="nav-tag-group">
		<div class="group-toggler" href="#" data-trigger="collapse-{{name}}" data-toggle>
			<a href="/articles/tag/group/{{name}}">
				<img src="{{icon}}" alt="{{name}}-logo">
				{{name}} 
				<span class="badge pull-right">{{countArticlesGroup mainTag resolvedTags}}</span>
			</a>
		</div>
	</li>
	<div id="collapse-{{name}}" class="collapse collapsed">
		<ul class="sidebar-subgroup">
			{{#each resolvedTags}}
			<li class="nav-tag"><a href="/articles/tag/{{name}}">- {{formattedName}} <span class="badge pull-right">{{countArticlesTag name}}</span></a></li>
			{{/each}}
		</ul>
	</div>
</template>