<template name="sidebar">
	<div id="sidebar-wrapper">
		<h4 class="sidebar-headline">Topics</h4>
		<ul class="sidebar-groups">
			{{#each tag_groups}}
				{{> tagGroup}}
			{{/each}}
		</ul>
	</div>
</template>
	
<template name="tagGroup">
	<!-- collapse triggering is made via code -->
	<li class="nav-tag-group">
		<div href="#" data-trigger="collapse-{{name}}" data-toggle>
			<a href="/tag/group/{{name}}">{{name}} 
				<span class="badge pull-right">{{countArticlesGroup mainTag resolvedTags}}</span>
			</a>
		</div>
	</li>
	<div id="collapse-{{name}}" class="collapse collapsed">
		<ul class="sidebar-subgroup">
			{{#each resolvedTags}}
			<li class="nav-tag"><a href="/tag/{{name}}">{{formattedName}} <span class="badge pull-right">{{countArticlesTag name}}</span></a></li>
			{{/each}}
		</ul>
	</div>
</template>