<template name="viewArticle">
	{{#with article}}
	<div id="va-info">
		<h1 id="va-title">{{title}}</h1>
		<p id="va-description">{{description}}</p>
		<div id="va-preview-author">
			{{#if content}}
			Author:
			{{else}}
			Posted by:
			{{/if}}
			 <a href="#">{{username}}</a>
		</div>
		{{#if link}}
		<div id="va-preview-article-link" style="">
			Link: <a href="{{link}}" target="_blank">{{link}}</a>
		</div>
		{{/if}}
		{{#if tags}}
		<div id="la-preview-tags" style="padding-top:5px">
			<small>
				Tags: 
				{{#each tags}}
				<a href="/articles/tag/{{this}}">{{this}} </a> 
				{{/each}}
			</small>
		</div>
		{{/if}}
		
	</div>
	<!-- buttons bar -->
	<div class="va-buttons-bar">
		<div class="va-user-buttons">
			<!-- {{#if canUpdateArticle}} -->
				<button id="va-btn-edit-article" type="button" class="btn btn-success btn-sm" style="display:inline">Edit</button>
			<!-- {{/if}} -->
			<!-- {{#if canRemoveArticle}} -->
				<button id="va-btn-remove-article" type="button" class="btn btn-danger btn-sm" style="display:inline">Remove</button>
			<!-- {{/if}} -->
		</div>

		<div class="va-resize-button">
			<button id="va-btn-toggle-info" type="button" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	{{/with}}

	<div id="va-content">{{{parsedContent}}}</div>

</template>